n8n_workflows/judge_agent.json
{
  "name": "Judge Agent - Faux Pas Detection",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "id": "schedule-trigger-1"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Read EVENT_TIMELINE.jsonl (last 6 hours)\nconst fs = require('fs');\nconst path = require('path');\n\nconst timelineFile = 'C:\\\\Users\\\\edri2\\\\Desktop\\\\AI\\\\ai-os\\\\truth-layer\\\\timeline\\\\EVENT_TIMELINE.jsonl';\nconst sixHoursAgo = new Date(Date.now() - 6 * 60 * 60 * 1000).toISOString();\n\nlet events = [];\n\nif (fs.existsSync(timelineFile)) {\n  const lines = fs.readFileSync(timelineFile, 'utf-8').split('\\n');\n  \n  for (const line of lines) {\n    if (!line.trim()) continue;\n    \n    try {\n      const event = JSON.parse(line);\n      \n      // Only include events from last 6 hours\n      if (event.ts_utc >= sixHoursAgo) {\n        events.push(event);\n      }\n    } catch (e) {\n      console.error('Failed to parse line:', line);\n    }\n  }\n}\n\nreturn [\n  {\n    json: {\n      events: events,\n      events_count: events.length,\n      time_window: {\n        start: sixHoursAgo,\n        end: new Date().toISOString()\n      }\n    }\n  }\n];"
      },
      "name": "Read Timeline Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300],
      "id": "code-read-timeline"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Load Judge prompt\nconst fs = require('fs');\nconst path = require('path');\n\nconst promptFile = 'C:\\\\Users\\\\edri2\\\\Desktop\\\\AI\\\\ai-os\\\\prompts\\\\judge_agent_prompt.md';\nconst judgePrompt = fs.readFileSync(promptFile, 'utf-8');\n\nconst events = $input.first().json.events;\nconst timeWindow = $input.first().json.time_window;\n\n// Build the full prompt\nconst fullPrompt = judgePrompt + '\\n\\n---\\n\\n## Events to Analyze\\n\\n```json\\n' + JSON.stringify(events, null, 2) + '\\n```\\n\\nPlease analyze these ' + events.length + ' events and return your FauxPas_Report in JSON format.';\n\nreturn [\n  {\n    json: {\n      prompt: fullPrompt,\n      events_count: events.length,\n      time_window: timeWindow\n    }\n  }\n];"
      },
      "name": "Prepare Judge Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300],
      "id": "code-prepare-prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENAI_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4o"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"user\", \"content\": $json.prompt}]"
            },
            {
              "name": "temperature",
              "value": 0.2
            },
            {
              "name": "response_format",
              "value": "{\"type\": \"json_object\"}"
            }
          ]
        },
        "options": {}
      },
      "name": "Call GPT-4o Judge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [850, 300],
      "id": "http-gpt4o"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Parse GPT-4o response and write FauxPas_Report\nconst fs = require('fs');\nconst path = require('path');\n\nconst gptResponse = $input.first().json.choices[0].message.content;\nconst report = JSON.parse(gptResponse);\n\n// Generate report filename\nconst now = new Date();\nconst timestamp = now.toISOString().replace(/:/g, '-').split('.')[0];\nconst reportFile = `C:\\\\Users\\\\edri2\\\\Desktop\\\\AI\\\\ai-os\\\\truth-layer\\\\drift\\\\faux_pas\\\\FP-${timestamp}.json`;\n\n// Write report\nfs.writeFileSync(reportFile, JSON.stringify(report, null, 2), 'utf-8');\n\n// Also log to console for monitoring\nconsole.log('FauxPas Report:', reportFile);\nconsole.log('Summary:', report.summary);\n\nreturn [\n  {\n    json: {\n      report_file: reportFile,\n      report: report,\n      has_errors: report.faux_pas_detected && report.faux_pas_detected.length > 0\n    }\n  }\n];"
      },
      "name": "Write FauxPas Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300],
      "id": "code-write-report"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Timeline Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Timeline Events": {
      "main": [
        [
          {
            "node": "Prepare Judge Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Judge Prompt": {
      "main": [
        [
          {
            "node": "Call GPT-4o Judge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call GPT-4o Judge": {
      "main": [
        [
          {
            "node": "Write FauxPas Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "judge-agent-v1",
  "meta": {
    "instanceId": "ai-os-n8n"
  },
  "tags": []
}
